<div class="input-container">
  <div class="input-box">
    <input type="text" placeholder="Digite o nome de algum país" id="countryname" name="countryname" #countryname />
    <fa-icon class="fa-icon" (click)="search(countryname.value)" [icon]="faSearch" />
  </div>
</div>
<div id="container-list-countries">
  <ul *ngIf="countries.length > 0; else noCountries">
    <li *ngFor="let country of shuffleArray(countries).slice(0, 10)">
      <h3>País: {{ country.translations.por.common }} </h3>
      <h3>Capital: {{ country.capital }}</h3>
      <img src="{{ country.flags.png }}" />
    </li>
  </ul>
</div>
<ng-template id="no-countries" #noCountries>
  <div *ngIf="error | async; else loading">
    <h4>Erro ao carregar países. Tente novamente mais tarde!</h4>
  </div>
  <ng-template #loading>
    <div *ngIf="countries.length > 0; else noSearch">
      <h4>Carregando...</h4>
    </div>
  </ng-template>
  <ng-template #noSearch>
    <h4>País não encontrado...</h4>
  </ng-template>
</ng-template>
